#toggle{
    background-color: red;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 30px;
    right: 30px;
}

#menu{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: all, .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    li{
        list-style-type: none;
        a{
            text-decoration: none;
            color:red;
            font-size: 6em;
        
        }
    }
}

#menu.active {
    right: 0;
}
